@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl m-0 p-0;
  }

  button {
    @apply bg-pink-300 px-7 py-2 rounded-xl text-xl shadow-xl;
  }

  input {
    @apply border-2 w-full rounded-lg h-12 outline-dashed outline-gray-951 p-2;
  }

  textarea {
    @apply border-2 w-full rounded-lg h-16 outline-dashed outline-gray-951 p-2;
  }

  header {
    padding: 16px;
    background: hsl(345, 71%, 90%);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  label {
    @apply text-2xl text-gray-952;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bod {
  border: 2px solid #ececec;
  border-radius: 12px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

.slide {
  transform: translateY(100px);
}
.test {
  transform: translateY(0);
}
